.burger {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 12;

	position: absolute;
	top: -20px;
	right: 15px;
	width: 60px;
	height: 60px;
	cursor: pointer;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.line {
  fill: none;
  stroke: var(--color-blue);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


@media (max-width: 1199px) {
  .burger {
    display: flex;
  }


}


@media (max-width: 596px) {
  .burger {
    top: -30px;
    width: 40px;
    height: 40px;
  }
}