<section class="about">
  <div class="container about__container">
    <h2 class="about__title">О компании</h2>
    <p class="about__descr">Компания Mannex: продажа запчастей и аксессуаров высокого качества</p>
    <p class="about__descr">Компания Mannex начала свою деятельность недавно, но уже успела заслужить хорошую репутацию среди покупателей. Количество положительных отзывов в адрес нашей компании от благодарных клиентов растет с каждым днем. В нашем интернет-магазине вы можете купить необходимые запчасти и аксессуары для своего автомобиля по выгодным ценам.</p>
    <p class="about__descr">Большой ассортимент</p>
    <p class="about__descr">В каталоге нашего магазина вы найдете автозапчасти для Lexus, Mazda или иных автомобилей. Среди широкого ассортимента</p>
    <a class="about__link" href="">Читать дальше</a>
  </div>
</section>