<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="" class="logo">
          <img src="./img/logo.png" alt="Mannex logo">
        </a>
        <p class="footer__copyright">2020 © Mannex Все права защищены</p>
        <p class="footer__copyright">Публичная оферта</p>
      </div>
      <div class="col">
        <h5 class="footer__title">Основное</h5>
        <ul class="footer__list list-reset">
          <li class="footer__item"><a href="" class="footer__link">Главная</a></li>
          <li class="footer__item"><a href="" class="footer__link">О компании</a></li>
          <li class="footer__item"><a href="" class="footer__link">Pro-Запрос</a></li>
          <li class="footer__item"><a href="" class="footer__link">Гараж</a></li>
          <li class="footer__item"><a href="" class="footer__link">Контакты</a></li>
          <li class="footer__item"><a href="" class="footer__link">Заказы</a></li>
        </ul>
      </div>
      <div class="col">
        <h5 class="footer__title">Аккаунт</h5>
        <ul class="footer__list list-reset">
          <li class="footer__item"><a href="" class="footer__link">Корзина</a></li>
          <li class="footer__item"><a href="" class="footer__link">Баланс</a></li>
          <li class="footer__item"><a href="" class="footer__link">Мои заказы</a></li>
          <li class="footer__item"><a href="" class="footer__link">Запрос продавцу</a></li>
          <li class="footer__item"><a href="" class="footer__link">Сравнение</a></li>
        </ul>
      </div>
      <div class="col">
        <h5 class="footer__title">Контакты</h5>
        <ul class="footer__list list-reset">
          <li class="footer__item"><a href="" class="footer__link">Главная </a></li>
          <li class="footer__item">
            <a href="tel:+79002038083" class="footer__link">8 900 203 8083</a>
            <a href="tel:+79122945345" class="footer__link">8 912 294 5345</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>
