<section class="hero">
  <div class="container hero__container">
    <div class="row">
      <h1 class="hero__title col-11 col-xl-8">
        Предлагаем только качественные <span>запчасти</span> для иномарок
      </h1>

      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <img class="swiper-slide" src="./img/hero__slide.png" alt="Слайд с товаром">
          <img class="swiper-slide" src="./img/hero__slide.png" alt="Слайд с товаром">
          <img class="swiper-slide" src="./img/hero__slide.png" alt="Слайд с товаром">
          <img class="swiper-slide" src="./img/hero__slide.png" alt="Слайд с товаром">
          <img class="swiper-slide" src="./img/hero__slide.png" alt="Слайд с товаром">
          <img class="swiper-slide" src="./img/hero__slide.png" alt="Слайд с товаром">
          <img class="swiper-slide" src="./img/hero__slide.png" alt="Слайд с товаром">
          <img class="swiper-slide" src="./img/hero__slide.png" alt="Слайд с товаром">
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="hero-catalog row">
      <div class="hero-catalog__btn-wrapper col-xl-4 col-6">
        <button class="hero-catalog__btn btn-reset">Посмотреть каталог</button>
      </div>
      <span class="hero-catalog__descr col-4 col-xl-3">Более 50 товаров</span>
    </div>

    <div class="hero__btns row">
      <div class="blue-btn__wrapper col-md-4 col-10">
        <button class="blue-btn btn-reset">Высокое качество</button>
      </div>
      <div class="blue-btn__wrapper col-md-4 col-10">
        <button class="blue-btn btn-reset col">Лучшие на рынке</button>
      </div>
      <div class="blue-btn__wrapper col-md-4 col-10">
        <button class="blue-btn btn-reset col">Большой выбор</button>
      </div>
    </div>
  </div>
</section>
